version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: backend-postgres
    restart: always
    environment:
      POSTGRES_USER: app_backend
      POSTGRES_PASSWORD: I@iventory##12345
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend-net

volumes:
  postgres_data:

networks:
  backend-net:
    driver: bridge
